html * {
    font-family: 'Inter', sans-serif;
  }
.navbar{
    font-weight: bold;
    color: black;
}
.nav-item{
    
    padding-left: 30px;
}
.my-container{
    padding: 0% 7% !important;
}
.check-icon{
    font-size: large;
    color:#437EF7;
    
}
.workflow-container{
    padding-top: 20px;
    font-size: 18px; 
    font-weight: 400;
}
.first-container{
    background-color:#F8F9FB;
    margin-top: 0px;
}
.input-group{
    padding-right: 30px;
}
.cards{
    border-radius: 5px;
    text-align: center;
    padding: 35px;
    background-color: white;
    margin: 0 5px;
    position: relative;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 0px;
}
.card-icons{
    width:16.67px;
    height: 18.33px;
    top:0.83px;
    left:1.67px;
    color: white;
}
.icon-holder{
    background-color: #F04438;
    color: azure;
    width: 52px;
    height: 52px;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}
#card-icon-1{
    background-color: #F04438;
}
#card-icon-2{
    background-color: #5DC264;
}
#card-icon-3{
    background-color: #437EF7;
}
#card-icon-4{
    background-color: #FFAE43;
}
.Design-div{
    padding: 75px 150px ;
}
#search-bar{
    width: 420px;
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
}
.custom-column {
    flex: 1 1 calc(25% - 10px);
}
.center-text{
    text-align: center;
}
#customer-div{
    background-color: #2B63D9;
    color: white;
}
#customer-picture{
    width:50px; 
    float:left;
    border-radius: 50%;
}
.customer-logo{
    font-size: 30px;
}
.customer{
    display: flex;
}
.customer-box{
    
    border-radius: 5px;
    padding: 16px;
    background-color: #3971E7;
    /* margin: 0 5px; */
}
.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
.card{
    border: 0px solid;
}
.blog-picture{
    width: 100%;
    height: 115px;
    object-fit: fill;
}
/* .blog-div{
    font-size: 15px;
} */
.arrow-color{
    color: #437EF7;
}
.footer-buttons{
    text-decoration: none;
    color: darkgray;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.footer-icons{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.footer-icon-parent-div{
    text-align: right;
}
.footer{
    background-color: #151B28;
}
hr.new1 {
    border-top: 1px solid darkgray;
}
.footer-privacy{
    text-decoration: none;
    color: darkgray;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}
.footer-copyright{
    color: darkgray;
    display: block;
    font-size: 16px;
    font-weight: 400;
}
.middle-icon{
    background-color: #303030;
    color: azure;
    width: 52px;
    height: 52px;
    font-size: 10px;
    text-align: center;
    padding: 16px;
    position: absolute;
    bottom: 44%;
    left: 46%;
    z-index: 1;
}
.img1{
    position: absolute;
    top: 0;
    right: 60%;
}
.img2{
    position: absolute;
    left: 86%;
    bottom: 1%;
    z-index: 1;
}
.card-background{
    background-image: url("36.png");
    background-repeat: no-repeat;
    padding: 40px 40px 0px 40px;

}
.card-background-2{
    
    padding: 0px 40px 40px 40px;
    
}
/* .card-background-2{
    
    position: relative;
    z-index: 0;
} */
/* .card-background-2::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
/* #card-2{
    z-index: 0;
} */
.res-spacing{
    width: 70%;
    margin: auto;
    padding-top: 10px ;
    font-weight: 400;
    font-size: 16px;
    
}
.tab-picture{
    display: none;
}
.image-mobile{
    width: 100%;
    margin: auto;
}
.customer-div-res{
    width: 60%; 
    margin: auto;
}
.blog-post{
    width: 75%;
    margin: auto;
}
.ind-div{
    width: 75%; 
    margin: auto;
}
#submit-div{
    width: 60%;
    margin: auto;
}
.remove{
    display: none;
}
.No-Matter{
    font-size: 16px; 
    font-weight: 500;
}
.redef-div{
    text-align: center;
}
#search-box{
    width: 80%;
    margin: auto;
}
#mobile{
    width: 70%;
    margin: auto;
}
.dem-row{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image-mobile-2{
    width: 100%;
    margin: auto;
}
.col-sm-6.cust-col {
    flex-basis: 33%;
    max-width: 33%;
  }
  .footer-last-buttons{
    display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  }
@media (max-width: 767px) {
    .cards-div{
        order: 1;
    }
    .card-image-1{
        height: 170px;
    }
    .footer-privacy{
        text-align: left;
    }
    .col-sm-6.cust-col{
        flex-basis: 50%;
        max-width: 50%;
    }
    #mobile-contaier{
        padding: 0% !important;
    }
    .cards-div h3{
        font-size: 15.92px;
        font-weight: 700;
    }
    .cards-div p{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.06 px;
        line-height: 15px;
    }
    .card-background{
        background-size: 40%;
        padding: 15px 15px 0px 15px;
    
    }
    .card-background-2{
    
        padding: 0px 15px 15px 15px;
        
    }
    .dem-row{
        margin-top: 20px;
    }
    .no-matter-mobile{
        margin: 5px 0px;
    }
    .submit-mobile{
        margin-top: 5px;
        width: 100%;
    }
    #mobile{
        width: 100%;
        margin: auto;
    }
    #search-bar{
        width: auto;
    }
    .custom-column {
        flex: 1 1 100%;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-buttons-mobile{
        /* text-align: center; */
        padding-top: 10px;
    }
    .footer-icon-parent-div{
        text-align: center;
        padding-top: 10px;
    }
    .footer-copyright{
        text-align: center;
    }
    .hide-mobile{
        display: none;
    }
    .form-control{
        width: 100%
    }
    #search{
        width: 100%;
        border-radius: 5px;
    }
    #submit-button{
        width: 100%;
        display: block;
        border-radius: 5px;
        margin-top: 5px;
        
    }
    .card-div-mobile{
        padding-top: 15px;
        padding-bottom: 8px;
    }
    .blog-picture{
       height: 180px;
    }
    .image-mobile{
        width: 100%;
    }
    .image-mobile-2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    .Design-div{
        order: 2;
        padding: 0px ;
    }
    .Demonstrate-div{
        order: 2;
    }
    .image-div{
        order: 1;
    }
    .footer-last-buttons{
        flex-direction: row;
        order: 1;
    }
    .footer-copyright{
        order: 2;
    }
    .remove{
        display: block;
        padding-top: 5px;
        color: #5F6D7E;
    }
    .No-Matter{
        margin-top: -30px;
    }
    .res-spacing{
        width: 100%;
        margin: auto;
        padding-top: 10px ;
    }
    #responsive-spacing{
        margin-top: -50px;
    }
    #customer-div{
        margin-top: -80px;
        padding: 20px;
    }
    .customer-div-res{
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    #submit-div{
        padding: 0px;
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    #search-box{
        width: 100%;
        margin: auto;
        padding: 0px;
    }
    .img1{
        position: absolute;
        top: 0;
        right: 92%;
        width: 10%;
    }
    .middle-icon {
        background-color: #303030;
        color: azure;
        width: 52px;
        height: 52px;
        font-size: 10px;
        text-align: center;
        padding: 16px;
        position: absolute;
        left: 43%;
        z-index: 1;
    }
    .img2 {
        position: absolute;
        left: 90%;
        bottom: 1%;
        z-index: 1;
    }
    .line-image{
        width: 60px;
    }S
    .blog-post{
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
    }
    .footer-buttons{
        padding: 4px;
    }
    .input-group{
        padding: 0%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .image-mobile{
        display: none;
    }
    .image-mobile-2{
        display: none;
    }
    .tab-picture{
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .img1{
        position: absolute;
        top: 7%;
        right: 70%;
    }
    .middle-icon{
        background-color: #303030;
        ;
        color: azure;
        width: 52px;
        height: 52px;
        font-size: 10px;
        text-align: center;
        padding: 16px;
        position: absolute;
        left: 46%;
        z-index: 1;
    }
    .custom-column {
        flex: 1 1 calc(50% - 10px);
    }
    .Design-div{
        order: 2;
        padding: 20px ;
    }
    .cards-div{
        padding: 0px 80px;
        order: 1;
    }
    .Demonstrate-div{
        order: 2;
    }
    .image-div{
        order: 1;
    }
    .super-res{
        width: 70%;
        font-size: 52px; 
        font-weight: 700;
    }
    .res-spacing{
        width: 100%;
        margin: auto;
        padding-top: 10px ;
    }
    .image-mobile{
        width: 100%;
        margin: auto;
    }
    #responsive-spacing{
        margin-top: -50px;
    }
    #customer-div{
        margin-top: -100px;
    }
    .customer-div-res{
        width:100%;
        margin: auto;
    }
    .blog-post{
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
    }
    .hide-mobile{
        display: none;
    }
    #submit-div{
        width: 100%;
        margin: auto;
    }
    .footer-buttons{
        padding: 5px;
    }
    .footer-icons{
        padding: 5px;
    }
    .footer-last-buttons{
        text-align: right;
    }
    .img2{
        position: absolute;
        left: 86%;
        bottom: 1%;
        z-index: 1;
    }
}
@media (min-width: 1441px) and (max-width: 2560px) {
    .big-screen{
        width: 100%;
        height: 150px;
        margin: auto;
    }
    .blog-picture{
        width: 100%;
        height: 70%;
        margin: auto;
    }
    .middle-icon {
        background-color: #303030;
        color: azure;
        width: 52px;
        height: 52px;
        font-size: 10px;
        text-align: center;
        padding: 16px;
        position: absolute;
        left: 47.5%;
        z-index: 1;
    }
    .img2{
        position: absolute;
        left: 92%;
        bottom: 1%;
        z-index: 1;
    }
}
@media (max-width: 362px){
    .card-background{
        display: -webkit-box !important;
    }
    .card-background-2{
        display: -webkit-box !important;
    }
}